{
    "Notice":{
        "ChannelId":"CHANNEL_ID",
        "EmbedTitle":"TITLE",
        "EmbedDescription":"DESCRIPTION"
    },
    "Roles":[
        {
            "id":"assignGameRoles_Steam",
            "label":"스팀",
            "roleId":"ROLE_ID"
        },
        {
            "id":"assignGameRoles_Genshin",
            "label":"원신",
            "roleId":"ROLE_ID"
        },
        {
            "id":"assignGameRoles_lol",
            "label":"롤",
            "roleId":"ROLE_ID"
        }
    ]
}