{
    "Notice": {
        "ChannelId":"CHANNEL_ID",
        "EmbedTitle":"TITLE",
        "EmbedDescription":"DESCRIPTION"
    },
    "DefaultRoleId": "ROLE_ID",
    "Roles": [
        {
            "id": "assignPartRoles_Planning",
            "label": "기획",
            "roleId": "ROLE_ID"
        },
        {
            "id": "assignPartRoles_Graphics",
            "label": "그래픽",
            "roleId": "ROLE_ID"
        },
        {
            "id": "assignPartRoles_Programming",
            "label": "프로그래밍",
            "roleId": "ROLE_ID"
        },
        {
            "id": "assignPartRoles_QA",
            "label": "QA",
            "roleId": "ROLE_ID"
        }
    ]
}